{% extends 'maestro/respuestas31.html' %}
{% block content %}

<style>
    #table, th, td{ 
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<p id="alumno">Alumno: {{alumno.usuario.get_full_name}}</p>

<div>
    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}

    <form action="{% url 'getRespuesta31' idAlumno=alumno.id %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="send" id="btn-enviar" value="Calificar">
    </form>
</div>

Ejercicio #1.1. 

<table>
    {% for key, value in respuesta.items %} 
    <tr>
        <th>{{key}}</th>
        {% for val in value %}
            <td>{{val}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}