{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="{% static 'js/funcionesUriel.js' %}"></script>
    <script src="{% static 'js/jQuery.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="nav-menu">
                <a href="{% url 'dashboard' %}" style="text-decoration: none;"><p id="tituloEjercicio1" class="titulo-data">Data</p></a>
                <a href="{% url 'dashboard' %}" style="text-decoration: none;"><p id="tituloEjercicio2" class="titulo-base">Bass</p></a> 
                <ul class="navbar-list">
                    <li class="opciones"><a href="{% url 'dashboard' %}" class="opcionInicio">Inicio</a></li>
                    <li class="opciones"><a href="{% url 'respuestas31' %}" class="opcionContenido">Respuestas</a></li>
                    <li class="opciones"><a href="{% url 'getCalificaciones' %}" class="opcionHerramientas">Calificaciones</a></li>
                    <li class="opciones"><a href="{% url 'ejercicios' %}" class="opcionEstado ">Ejercicios</a></li>
                    <li class="opciones"><a href="{% url 'unidades1' %}" class="opcionHerramientas {% if request.path == '/ejercicios/unidades1' %} active {%endif%}">Unidad</a></li>
                </ul>		
                <div class="navbar-profile">
                    <!-- <div class="navbar-notification navbar-avatar">
                        <div class="navbar-picture">
                            <a href="{% url 'perfil' %}">
                                <img src="{% static 'img/perfil.jpg' %}" alt="" class="img-profile">
                            </a>
                            
                        </div>
                    </div> -->
                    <div class="navbar-logout navbar-avatar">
                        <div>
                            <a href="{% url 'addUser' %}">
                                <img src="{% static 'img/add.png' %}" alt="" class="img-logout">
                            </a>
                        </div>
                    </div>
                            <div class="navbar-logout navbar-avatar">
                                <div >
                                    <a href="{% url 'cerrarSesion' %}">
                                        <img src="{% static 'img/logout.png' %}" alt="" class="img-logout">
                                    </a>
                                </div>
                            </div>
                </div>
            </nav>   
        </div>
        <div class="principalEjercicios">
            <div class="contenedorEjercicios">
                <div class="contenidoEjercicios">
                    <p class="tituloContenidoEjercicios">Activar Unidades</p>
                    {% regroup unidades by parcial.clase as unidades_lista %}
                    <ul class="contenidoEjerciciosMain">
                        {% for unidad in unidades_lista %}
                        <li class="contenidoEjerciciosTitle">{{ unidad.grouper }}</li>
                        <ul>
                            {% for unidad in unidad.list %}
                            <div class="contenidoEjerciciosContent">
                                <li class="contenidoEjerciciosContentA">{{unidad}}
                                </li>
                                <div class="contenidoEjerciciosContentB">
                                    <span><input type="checkbox" name="active" class="contenidoEjerciciosContentinput" id="{{unidad.id}}"
                                        {%  if unidad.is_active %} checked {% endif %}></span>
                                    <label class="contenidoEjerciciosContentlabel" for="active">Activo</label>
                                    <button class="btn-actualiza-ejercicios" onclick="actualizarUnidad(this)"
                                        data-idunidad="{{unidad.id}}">Actualizar</button>
                                </div>
                            </div>
                            
                            
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>