*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    
}
    /* Escritorio */
@media screen and (min-width: 768px){

    #Principal{
        width: 100%;
        height:100%;
        position: absolute;
        overflow: auto;
        background-color: rgb(51, 54, 69);
    }@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    nav {
        width: 100%;
        height: 12%;
        
        display: flex;
        justify-content: center;
        align-items:center;
        
    }
    
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -11%;
        font-size: 0.9rem;
    }
    
    .container {
        background: rgb(51,54,69);
        width: 100%;
        height: 100%;
    }
    
    .row {
        display: flex;
        padding: 1% 5%;
    }
    
    .navbar-logo {
        color: white;
        width: 10%;
        font-size: 1.55rem;
    }
    
    .navbar-list {
        display: flex;
        color: white;
        list-style: none;
        width: 75%;
        justify-content: space-evenly;
    }
    
    .navbar-notification {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eeeeee;
        background-repeat: no-repeat;
       background-size: 22px 22px;
       background-position: center; 
        background-image: url('../img/notification.png');
        cursor: pointer;
    }
    .navbar-notification:hover {
       
        background-color: #ddddddbb;
    }
    
    .navbar-notification-count {
        background: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-profile {
        display: flex;
        justify-content: space-around;
        width: 10%;
    }
    
    .navbar-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-picture {
        width: 95%;
        height: 95%;
        background-color: gray;
        border-radius: 50%;
        border: 2px solid white;
    }
    .navbar-picture:hover {
        background-color: red;
    }
    /* AFTER OF NAVBAR */
    
    .user-information {
        width: 100%;
         
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .user-information > div:nth-child(4) > p:nth-child(2) {
        margin: 0 auto;
        color: white;
    }

    .opciones{
        font-size: 17px;
        width: 120px;
        height: 40px;
        transition: 0.75s;
    }
    .opciones:hover{
        background-color: rgb(66, 69, 86);
        border-radius: 6px;
    }
    .img-profile{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }



    #mid-container{

        width: 100%;
        height: 90%;
      
        display: flex;
      align-items: center;
       
        
    }
    #container-top{
        width: 90%;
        height: 48%;
        
        display: flex;
        flex-direction: column;
    }
    #container-bottom{
        width: 90%;
        height: 47%;
        background-color: #424556;
        box-shadow: 2px 2px 8px 0px rgb(43, 42, 45);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mid-container-ajuste{
        justify-content:space-between;
        display: flex;
        align-items: center;
        
        width: 100%;
        height: 95%;
        flex-direction: column;

    }
    #compilador-top{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
    }
    #compilador-bottom{
        width: 100%;
        height: 85%;
        background-color: #424556;;
        overflow-x: hidden;
        overflow-y: hidden;
        box-shadow: 2px 2px 8px 0px rgb(43, 42, 45);
    }
    #titulo{
        display: flex;
        align-items: center;
        width: 70%;
        color: white;
        
    }
    #buttons{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    #play{
        background-color: rgb(50, 143, 7);
        color: white !important;
        
        border: none;
        transition: .85s;
    }
    #play:hover{
        background-color: rgb(41, 117, 6) !important;
        
    
    }
    #borrar{
        border:none;
       margin-right: 35px;
       background-color: #ED5A09;
       transition: .55s;
    }
    #borrar:hover{
       
        background-color: rgb(187, 69, 6);
     }
    #buttons>button{
        box-shadow: 6px 6px 13px 0px rgba(51,51,51,1);
       cursor: pointer;
        width: 100px;
        border-radius: 4px;
        color: white;
       
        height: 32px;
        font-size: 1rem;
    }

    .number{
        width: 35px;
        background-color: #9A9A9A;
        color: white;
        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 19px;
    }

    #lines-creciente{
        width: 100%;
     
        display: flex;
      
        
    }
   
    #numbers-container{
        width: 35px;
      
        display: flex;
        flex-direction: column;
        
    }
    #lines-container{
        width: calc(100% - 35px);
        display: flex;
        flex-direction: column;
        
    }
    .textarea{
        width: 100%;
       height: 190px;
        background: red;
        border: none;
        resize: none;
        color: white;
        overflow: hidden;
       
      
    }
    .letras-contenido{
        color: white;
        width: 100%;
        height: 190px;
        
       
        
    }
    #tablas-container{
   
        height: 100%;
      
        display: flex;
        justify-content: start;
        align-items: start;
        overflow-y: auto;
        overflow-x: auto;
        width: 100%;
        }
        table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 12px;    margin: 10px;     width: 480px; text-align: left;    border-collapse: collapse; }
        
        th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
            border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }
        
        td {    padding: 8px;    ;     border-bottom: 1px solid #fff;
            color: #669;    border-top: 1px solid transparent; }
        
        tr:hover td { background: #97a3cf; color: #339; }
        table tr:nth-child(odd) {background-color: #c1c9e9;}

        table tr:nth-child(even) {background-color: #e8edff;}
}

/* CSS LOADER */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgba(255, 255, 255, 0.7);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-opacity {
    background-color: rgba(66, 69, 86, 0.1) !important;
}

.hide {
    display: none;
}

.disabled {
    background-color: rgba(50, 143, 7, 0.4) !important;
    border: none !important;
    color: #fff !important;
    font-weight: bold;
    cursor: auto !important;
}

/* TOAST */

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  .successfully {
    background-color: rgba(50, 143, 7) !important;
  }

  .warning {
    background-color: #ED5A09 !important;
  }

  .error {
    background-color: rgb(185, 8, 8) !important;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }