*{
    padding:0px;
    margin: 0px;
    font-family: 'Montserrat',sans-serif ;
    font-size:16px;
}



#principalLogin{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
}
    #divimagenLogin{
    display: flex;
    /* width:calc(100%-700px); */
    width: 100%;
    background-color:white;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    }
    #divimagenLogin>img{
        width: 100%;
    }
    #divdatosLogin{
    background-color:#333645;
    display: flex;
    width:75%;
    
    /* flex-shrink: 10px; */
    justify-content:center;
    /* align-items: center; */
    flex-wrap: wrap;
    
    /*padding: 1rem;*/
    box-sizing: border-box;
    }
        #contenidodatosLogin{
            /*background-color:yellow;*/
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /*height:auto;*/
            margin-top: 3%;

        }
        #contenidodatosLogin>form{
            width: 350px;
        }
        #div-tituloLogin{
            background-color: red;
        }
        #tituloLogin{
            margin-top: 25%;
            padding-bottom: 20%;
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            color: #d4cfcf;
            
        }

        /* input[type=password], input[type=text] {
            padding-top: .5rem;
            padding-left: .5rem;
        } */
       
        .subtituloLogin{
            padding-top:5%;
            padding-bottom:5%;
            color: #f2f2f2;
        }
        #inputLogin{
            width: 97%;
            height:2rem;
            border-radius: 0.2rem;
            border-style: none;
        }
        ::placeholder { /* WebKit, Blink, Edge */
            color: #ccc;
            display: flex;
            margin-top:10px;
        }
        #parrafoLogin{
            margin-top: 6%;
            text-align: center;
            width: 100%;
         
            display: flex;
            justify-content: start;
        }
        #parrafoLogin>p{
            font-size:14px;
            text-align: left;
            color: #f2f2f2;
        }
        #botonLogin{
            background:#00B0FF;
            display: flex;
            margin-top: 33%;
            width: 100%;
            height:2.5rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius:15px;
            border-style: none;
            color: white;
            cursor: pointer;
        }
        #botonLogin:hover{
            background:rgb(0, 154, 226);
        }
        .errorlist.nonfield{
            margin-top: 15px;
        }
        /* li{
            color: white;
            font-size: 12px;
            text-align: center;
        } */
        #id_username{
            width: 100%;
            height: 37px;
            border: none;
            border-radius: 4px;
            color: #333645;
            
        }
        #id_username:focus{
            border:2px solid #FF5A09;
        }
        #id_password{
            width: 100%;
            height: 37px;
            
            border-radius: 4px;
            color: #333645;
        }
        #id_password:focus{
            border:2px solid #FF5A09;
        }
      .alumno-calificacion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: white;
      }
      .progresoClass{
          align-items: center;
      }
      .tituloCalificacion{
       padding: 1%;
       padding-left: 5%;
       color: #FF5A09;
    }
      .fs-16{
        height: 36%;
      
        display: flex;
        align-items: center;
      }
      .alumno-calificacion>h3{
          font-size:30px;
          color: white;
          font-weight: 700;

      }
      #calificacionesA{
          margin-top: 10px;
          width: 55%;
          justify-content: space-between;
          display: flex;
      }
      #crecienteUnidad{
         display: flex;
      }
      #calificacionesA>p{
        opacity: 0.5;
        font-size: 15px;
        color: white;
     
      }
      #calificacionesA>b{
        font-size: 15px;
        color: #FF5A09;
      }
        .textosLogin{
            color: white;
        }
        
/*---------ESTILOS actividadesEjercicios------------*/
        #principalEjercicios{
             position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #FAFAFA;
        }
        #menuEjercicios{
            display: flex;
            width: 25%;
            height: 100vh;
            /*background-color:purple;*/
            background-color: #172464;
            flex-wrap: wrap;    
            justify-content: center;
            /*align-items: center;*/
        }
            #encabezado-menuEjercicios{
                /*background-color: pink;*/
                background-color: #172464;
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
            }
            #imagenback{
                width: 30px;
                height: 30px;
                /*margin-right: 10%;*/
               /* padding-left:20%;
                padding-right: 5%;*/
            }
            #imagenperfil{
               width:58px;
                height: 58px;
                padding: 0% 10% 0% 10%;
            }
                .imgRedonda {
                   border-radius: 50%;
                }
                #tituloEjercicio1{
                font-size: 20px;
                }
                #tituloEjercicio2{
                    font-size: 25px;
                }
            .titulo-data{
               font-weight: bold;
               color: white;
            }
            .titulo-base{
                font-weight: bold;
                color: #FF5A09;
            }
            #unidadesEjercicios>p{
                margin-left: 8%;
                font-size: 20px;
                color: white;
            }
            #temasEjercicios>p{
                font-size: 20px;
                margin-left: 8%;
                color: white;
            }


                #unidadesEjercicios{
                    background-color: #172464;
                    /*background-color: #172464;*/
                    width: 100%;
                    /*height: 47.5%;*/
                    height: 40.5%;
                    margin-top: 2%;
                }
                    .unidadesEjerciciosContenedor{
                        /*background-color: yellow;*/
                        background-color: #172464;
                        width: 80%;
                        height: 40%;
                        margin-top: 3%;
                        margin-left: 10%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    
                    .unidadesEjerciciosContenedor>div {
                        display: block;
                        height: 30%;
                        width: 90px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        border-radius: 5px;
                    }
                    .unidadesEjerciciosContenedor.active > div:last-child {
                        background-color: #FF5A09;
                    }
                    .u1{
                          background-color: #FF5A09;
                          color: white;
                    }
                    .u2{
                        background-color: white;
                       
                    }

                    .u2:hover{
                        cursor: pointer;

                    }
                     .u3{
                        background-color: grey;                       
                    }

                    #temasEjerciciosContenedor{
                       /*background-color: black;*/
                       /*background-color: #172464;*/
                        width: 90%;
                        height: 50%;
                        margin-top: 3%;
                        margin-left: 5%;
                        display: flex;
                        /*justify-content: right;*/
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: wrap;
                    }

                    #temasEjerciciosContenedor>div{
                        /*margin-left:10%;*/
                        height: 30%;
                        width: 60px;
                        flex-wrap:wrap;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        /*background-color: #FF5A09;*/
                        border-radius: 4px;
                        margin-left: 2%;
                        margin-right: 1%;
                        margin-top: 10px;
                    }
                    .t1{
                        background-color: #FF5A09;;
                        color: white;
                    }
                    .t2{
                        background-color: white;
                    }
                    .t3{
                        background-color: white;
                    }
                    .t4{
                        background-color: white;
                    }
                    .t5{
                        background-color: white;
                    }
                    .t6{
                        background-color: white;
                    }
                    .t7{
                        background-color: white;
                    }
                 



                #temasEjercicios{
                    width: 100%;
                    height: 39%;
                }

        /*---Vista del contenido general----*/
        #contenidoEjercicios{
            /*background-color:green;*/
            display: flex;
            width:100%;
            height: 100%;
            /* flex-shrink: 10px; */
            justify-content:center;
            /* align-items: center; */
            flex-wrap: wrap;
        }

            #encabezado-contenidoEjercicios{
                width: 90%;
                height:auto;
                /*margin-left: 10%;*/
                margin-top: 2%;
                background-color: #FFFFFF;
                padding: 2%;
                border-radius:10px;
                box-shadow: 0px 0px 4px gray;

            }
                #titulo-contenidoEjercicos{
                    width: 100%;
                    /*background-color: red;*/
                    padding-bottom: 2%;
                    display: flex;
                    justify-content: space-between;
                }
                #titulo-contenidoEjercicos>p{
                    font-size: 18px;
                    font-weight: bold;
                }
                #subtitulo-contenidoEjercicios{
                    display: flex;
                    /*background-color: cyan;*/
                    width: 25%;
                    margin-left: 30%;
                    /*align-items: center;*/
                    justify-content: flex-end;
                    
                }
                #subtitulo-contenidoEjercicios>p{
                    font-size: 13px;
                }
                #calificacion{
                    margin-right: 5%;
                    font-weight: bold;
                }
                #descripcion-contenidoEjercicios{
                    width: 100%;
                    /*background-color: orange;*/
                    /*overflow: auto;*/
                }
                #titulo-descripcion-contenidoEjercicios>p{
                    font-weight: bold;
                    font-size: 15px;
                }
            
        #contenido-contenidoEjercicios{
            height: 70%;
            width: 95%;
            background-color: #FFFFFF;
            margin-top: 2%;
            border-radius:10px;
            box-shadow:0px 0px 5px gray;
        }


        /*MEDIA*/
         @media (max-width: 840px) {
        #botonLogin{
            /*background:pink;*/
        }
         #divdatosLogin{
            padding: 1rem;
         }

         #tituloLogin{
            margin-top: 20%;
         }
         /*---------ESTILOS actividadesEjercicios------------*/
        #encabezado-menuEjercicios{
            width:60%;
        }
    }

        /*------- ESTILOS enlaces de Navbar Dashboard --------- */
        .opcionInicio{
            text-decoration: none;
            color: white;
        }
        .opcionContenido{
            text-decoration: none;
            color: white;
        }
        .opcionHerramientas{
            text-decoration: none;
            color: white;
        }
        .opcionRespuestas{
          text-decoration: none;
          color: white;
        }
        .opcionCalificaciones{
            text-decoration: none;
            color: white;
        }
        .opcionEstado{
            text-decoration: none;
            color: white;
        }
        .opcionRespuestas.active{
          text-decoration: underline;
          color: #fe5a09;
        }
        .opcionCalificaciones.active{
          text-decoration: underline;
          color: #fe5a09;
        }
        .opcionEstado.active{
          text-decoration: underline;
          color: #fe5a09;
        }
        .opcionInicio.active{
          text-decoration: underline;
          color: #fe5a09;
        }
        .opcionContenido.active{
          text-decoration: underline;
          color: #fe5a09;
        }
        .opcionHerramientas.active{
          text-decoration: underline;
          color: #fe5a09;
        }
        
        .img-logout{
            width: 75%;
            height: 75%;
            margin-left:20%;
        }
        .navbar-logout {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #eeeeee;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: center; 
            /* background-image: url('../img/logout6.png'); */
            cursor: pointer;
            transition: .5s;
        }
        .navbar-logout:hover {
            background-color: rgba(248, 86, 4, 0.849);
        }

        
.user-avatar {
	width: 5rem;
	height: 5rem;
}

.article-text {
	width: 35%;
    height: 12.5rem;
    display: flex;
flex-direction: column;
justify-content: center;
}
#perfil-cambioContra{
    height: 31px;
border: none;
width: 155px;
font-size: 13px;
border-radius: 4px;
color: white;
cursor: pointer;
background-color: #FF5A09;
transition: .55s;
}
#perfil-cambioContra:hover{
    background-color: rgb(228, 81, 7);
}

.article-information {
	position: relative;
	width: 	55%;
	left: 10%;
    height: 15.5rem;
    border-radius: 4px;
}


/* ASSETS */

.fs-30 {
    font-size: 30px;
    color:#FF5A09;
}

.fs-25 {
	font-size: 25px;
}

.fs-20 {
	font-size: 20px;
}

.fs-18 {
	font-size: 18px;
}

.fs-15 {
	font-size: 15px;
}

.blue-dark-1 {
	background-color: rgb(51, 54, 69);
}

.blue-dark-2 {
	background-color: rgb(66, 69, 86);
}

.user-score {
	width: 100%;
	display: flex;
    justify-content: start;
    overflow-y: auto;
}

.score {
	height: 13rem;
    width: 13rem;
    margin-right: 50px;
    border-radius: 4px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-x {
	display: flex;
	justify-content: center;
}

.center-y {
	display: flex;
	align-items: center;
}

.txt-gray {
	color: #dadada;
}

.txt-white {
	color: #eeeeee;
}
/*--------Estilos maestro dashboard complemento -----*/
#cuadros-container>a{
  text-decoration: none;
}
/*--------Estilos NAVBAR Maestro ---------------*/
.opciones {
  display: flex;
  font-size: 17px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  transition: 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -11%;
  font-size: 0.9rem;
}
.opciones > a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color:red; */
  text-align: center;
}
.opciones:hover {
  background-color: rgb(66, 69, 86);
  border-radius: 6px;
}

.opciones > a:hover {
  color: #ff5a09;
}
.row {
  display: flex;
  padding: 2% 5%;
  background: rgb(51, 54, 69);
}
.nav-menu {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-list {
  display: flex;
  color: white;
  list-style: none;
  width: 75%;
  justify-content: space-evenly;
}
.navbar-profile {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.navbar-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-picture {
  width: 95%;
  height: 95%;
  background-color: gray;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.55s;
}
.navbar-logout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  /* background-image: url(../img/logout6.png); */
  cursor: pointer;
  transition: 0.5s;
}
.img-profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.img-logout {
  width: 75%;
  height: 75%;
  margin-left: 20%;
}
.navbar-notification {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  background-image: url(../img/notification.png);
  cursor: pointer;
}
/*--------Estilos Respuestas Maestro------------*/
.container {
  height: 100vh;
  background-color: #333645;
}
.principalRespuestas {
  height: 85%;
  width: 100%;
  background-color: #333645;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoRespuestas {
  width: 90vw;
  /* background-color: green; */
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.clasesRespuestas {
  width: 20%;
  height: 100%;
  background-color: #FAFAFF;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
  padding: 15px;
  box-sizing: border-box;
}
.clasesRespuestas > p {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 22px;
}
.clasesRespuestas > ul {
  margin-top: 25px;
}
.nombreGrupo {
  font-weight: bold;
}
.clasesRespuestas > ul > li {
  margin-left: 25px;
}
.clasesRespuestas > ul > li > ul > a {
  text-decoration: none;
  color: #333645;
  
}
.clasesRespuestas > ul > li > ul > a > li{
  list-style: none;
  margin-left: 8px;
  margin-top: 5px;
}
.clasesRespuestas > ul > li > ul > a > li:hover{
  font-weight: bold;
}
.clasesRespuestas > ul > li > ul > a > li {
  margin-top: 10px;
}

.entreRespuestas {
  width: 15px;
  height: 100%;
}
.clasesResultadoRespuestas {
  width: 80%;
  height: 100%;
  /* background-color: #333645; */
  background-color: #FAFAFF;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 6px rgba(0,0,0,0.75);
  padding: 15px;
  box-sizing: border-box;
}
.tituloclasesResultadoRespuestas {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}
.formResultados {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.submitRespuestas {
  margin-top: 20px;
  margin-left: 232px;
  width: 100px;
  height: 40px;
  border: none;
  color: white;
  background-color:#FF5A09;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
}
.submitRespuestas:hover {
  background-color: #ff8b52;
}
.textoResultadoRespuestas {
  margin-left: 20px;
  margin-top: 10px;
  opacity: 45%;
  font-weight: bold;
  color: #FF5A09;
}
#id_calificacion{
  height: 40px;
  outline: none;
  padding-left:10px ;
  border: 1px solid gray;
  border-radius: 4px;
  margin-left: 15px;
}
#alumno {
  margin-top: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.tituloejercicioRespuestas {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.tablaRespuestas {
  text-align: center;
}
.contenidoTablaRespuestas {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.tablaRespuestas > tbody > tr {
  background-color: #c1c9e9;
}
.tablaRespuestas > tbody > tr > th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: #039;
  border-bottom: 1px solid #fff;
  color: #039;
  border-left: none;
  border-right: none;
}
.tablaRespuestas > tbody > tr > td {
  padding: 8px;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  border-left: none;
  border-right: none;
}
/*--------Estilos Calificaciones Maestro------------*/
.p-descripcionCalificaciones {
  font-weight: bold;
  /* text-align: center; */
  margin-left: 25px;
}
.principalCalificaciones {
  background-color: #333645;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoCalificaciones {
  width: 40%;
  margin-right: 30px;
  height: auto;
  background-color: #fbfaff;
  box-shadow: 4px 4px 15px 6px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenidoCalificaciones > ul > li > ul > a {
  text-decoration: none;
  color: #333645;
}
.contenidoCalificaciones > ul > li > ul > a > li{
  margin-left: 15px;
  margin-top: 6px;
}
.contenidoCalificaciones > ul > li > ul > a > li:hover{
 font-weight: bold;
}
.contenidoCalificaciones > p {
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 5px;
}
.contenidoCalificaciones > ul > li {
  margin-left: 25px;
  
}
.descripcionCalificaciones {
  width: 100%;
  height: auto;
  background-color: #fbfaff;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 15px 6px rgba(0,0,0,0.75);
}
.descripcionCalificaciones > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descripcionCalificaciones > ul > li {
  margin-left: 25px;
  font-weight: bold;
  margin-bottom: 6px;
  list-style: none;
  margin-top: 8px;
  
}
.descripcionCalificaciones > ul > ul > li {
  margin-left: 40px;
  list-style: none;
  
}
.EjerciciosT{
  margin-top: 10px;
  
}
.EjerciciosB{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
 
}
.contenedorCalificaciones {
  width: 90%;
  display: flex;
  
}
.btn-actualiza-calificaciones {
  width: 90px;
  height: 22px;
  border: none;
  color: white;
  background-color: #0075ff;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
}
.btn-actualiza-calificaciones:hover{
  background-color: #3390ff;
  border: 2px solid #0075ff;
}
/*--------Estilos Ejercicios Maestro------------*/
.principalEjercicios {
  height: auto;
  width: 100%;
  background-color: #333645;
  display: flex;
  justify-content: center;
  align-items: center;    
  overflow-y: auto;
  
}
.contenidoEjercicios {
  width: 90%;
  margin-left: 5%;
  height: auto;
  background-color: #fbfaff;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 15px 6px rgba(0,0,0,0.75);
}
.contenidoEjercicios > ul > li {
  margin-left: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  list-style: none;
  font-size: 19px;
}
.contenidoEjercicios > ul > ul > li {
  margin-left: 35px;
  list-style: none;
}
.contenedorEjercicios {
  width: 90%;
}
.btn-actualiza-ejercicios {
  
  width: 90px;
  height: 22px;
  border: none;
  color: white;
  background-color: #0075ff;
  /* #FF5A09
    #226CE0
    #00b0ff

  */
  border-radius: 4px;
  transition: .7s;
  cursor: pointer;
  
}
.btn-actualiza-ejercicios:hover{
  background-color: #3390ff;
  border: 2px solid #0075ff;
}
.contenidoEjerciciosContentlabel{
  margin-right: 4px;
}
.contenidoEjerciciosContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenidoEjerciciosContentB{
  align-items: center;
  display: flex;
  width: 170px;
  height: 30px;
  margin-right: 25px;
}
.contenidoEjerciciosContentA{
  margin-right: 15px;
  margin-left: 35px;
  margin-bottom: 10px;
  
  width: 80%;
  list-style: none;
}
.contenidoEjerciciosContentinput{
  margin-right: 4px;
}
.tituloContenidoEjercicios {
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
}

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.modal-container.show {
  
  opacity: 1;
  pointer-events: auto;
}
.modal{
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  border-radius: 5px;
  padding: 30px 50px;
  text-align: center;
}
.modal h1 {
  margin: 0;
}
.modal p {
  opacity: 0.7;
}

.botonCerrar{
  margin-top: 15px;
  background-color: #00B0FF;
  border-radius: 15px;
  width: 30%;
  height: 1.5rem;
  margin-left: 35%;
  padding-top:7px ;
}
.botonCerrar:hover{
  cursor: pointer;
}



/*-----------------------------------------------*/
@media (max-width: 1122px) {
  #unidadesEjerciciosContenedor {
    overflow-y: scroll;
  }
  #unidadesEjerciciosContenedor > div {
    margin-top: 30px;
  }
}
@media (max-width: 1235px) {
  #temasEjerciciosContenedor {
    /*background-color: green;*/
    align-items: center;
  }
}
