*{
    margin:0px;
    top:0px;
    font-style: arial;
}
#principalEjercicio{
    position: absolute;
    /* background-color:#C6C6C6; */
    width: 70%;
    margin-left:15%;
    height:50%;
    margin-top:10%;
    
}
#columnas{
    display: flex;
    justify-content:space-between;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 100%;;
    height: 400px;
    align-items: center;
}
.columna{
    background-color:#E2E2E2;
    width:30%;
    height:auto;
}
.columna-primera>div{
    margin-top:2%;
}

.columna-titulo{
    background-color:#006DB3;
    text-align: center;
    color: white;
}
.columna-descripcion{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.columna-primera>div{
    height:16px;
}
.columna-segunda>div{
    color: gray;
    /* height: 16px; */
}
.ejercicio-elementos{
    text-align:center;
    width: 60%;
    margin-left:20%;
    padding-bottom: 2%;
    border: 1px gray solid;
    border-radius: 5px;
    background-color: #1A9AE2;
}

.titulo-elementos{
    margin-bottom:20px;
}
.opciones-elementos{
    display: flex;
    width:50%;
    margin-left:25%;
    justify-content: space-around;
}
.opciones-elementos>div{
    background-color: #EFEFEF;
    border:1px #D6D6D6 solid;
    border-radius: 2px;
    padding: 0 2% 0 2%;
}