*{
    padding:0px;
    margin: 0px;
    font-family: 'Montserrat',sans-serif ;
    font-size:16px;
}



#principalLogin{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
}
    #divimagenLogin{
    display: flex;
    /* width:calc(100%-700px); */
    width: 100%;
    background-color:white;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    }
    #divimagenLogin>img{
        width: 100%;
    }
    #divdatosLogin{
    background-color:#333645;
    display: flex;
    width:75%;
    
    /* flex-shrink: 10px; */
    justify-content:center;
    /* align-items: center; */
    flex-wrap: wrap;
    
    /*padding: 1rem;*/
    box-sizing: border-box;
    }
        #contenidodatosLogin{
            /*background-color:yellow;*/
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /*height:auto;*/
            margin-top: 3%;

        }
        #div-tituloLogin{
            background-color: red;
        }
        #tituloLogin{
            margin-top: 25%;
            padding-bottom: 20%;
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            color: #d4cfcf;
            
        }

        /* input[type=password], input[type=text] {
            padding-top: .5rem;
            padding-left: .5rem;
        } */
       
        .subtituloLogin{
            padding-top:5%;
            padding-bottom:5%;
            color: #f2f2f2;
        }
        #inputLogin{
            width: 97%;
            height:2rem;
            border-radius: 0.2rem;
            border-style: none;
        }
        ::placeholder { /* WebKit, Blink, Edge */
            color: #ccc;
            display: flex;
            margin-top:10px;
        }
        #parrafoLogin{
            margin-top: 20%;
            text-align: center;
        }
        #parrafoLogin>p{
            font-size:1rem;
            color: #f2f2f2;
        }
        #botonLogin{
            background:#00B0FF;
            display: flex;
            margin-top: 20%;
            width: 100%;
            height:2.3rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius:0.3rem;
            border-style: none;
            color: white;
        }
        #id_username{
            width: 100%;
            height: 26px;
        }
        #id_password{
            width:100%;
            height: 26px;
        }
        .inputsLogin{
            color: white;
        }
        
/*---------ESTILOS actividadesEjercicios------------*/
        #principalEjercicios{
             position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #FAFAFA;
        }
        #menuEjercicios{
            display: flex;
            width: 25%;
            height: 100vh;
            /*background-color:purple;*/
            background-color: #172464;
            flex-wrap: wrap;    
            justify-content: center;
            /*align-items: center;*/
        }
            #encabezado-menuEjercicios{
                /*background-color: pink;*/
                background-color: #172464;
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
            }
            #imagenback{
                width: 30px;
                height: 30px;
                /*margin-right: 10%;*/
               /* padding-left:20%;
                padding-right: 5%;*/
            }
            #imagenperfil{
               width:58px;
                height: 58px;
                padding: 0% 10% 0% 10%;
            }
                .imgRedonda {
                   border-radius: 50%;
                }
                #tituloEjercicio1{
                font-size: 20px;
                }
                #tituloEjercicio2{
                    font-size: 25px;
                }
            .titulo-data{
               font-weight: bold;
               color: white;
            }
            .titulo-base{
                font-weight: bold;
                color: #FF5A09;
            }
            #unidadesEjercicios>p{
                margin-left: 8%;
                font-size: 20px;
                color: white;
            }
            #temasEjercicios>p{
                font-size: 20px;
                margin-left: 8%;
                color: white;
            }


                #unidadesEjercicios{
                    background-color: #172464;
                    /*background-color: #172464;*/
                    width: 100%;
                    /*height: 47.5%;*/
                    height: 40.5%;
                    margin-top: 2%;
                }
                    .unidadesEjerciciosContenedor{
                        /*background-color: yellow;*/
                        background-color: #172464;
                        width: 80%;
                        height: 40%;
                        margin-top: 3%;
                        margin-left: 10%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    
                    .unidadesEjerciciosContenedor>div {
                        display: block;
                        height: 30%;
                        width: 90px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        border-radius: 5px;
                    }
                    .unidadesEjerciciosContenedor.active > div:last-child {
                        background-color: #FF5A09;
                    }
                    .u1{
                          background-color: #FF5A09;
                          color: white;
                    }
                    .u2{
                        background-color: white;
                       
                    }

                    .u2:hover{
                        cursor: pointer;

                    }
                     .u3{
                        background-color: grey;                       
                    }

                    #temasEjerciciosContenedor{
                       /*background-color: black;*/
                       /*background-color: #172464;*/
                        width: 90%;
                        height: 50%;
                        margin-top: 3%;
                        margin-left: 5%;
                        display: flex;
                        /*justify-content: right;*/
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: wrap;
                    }

                    #temasEjerciciosContenedor>div{
                        /*margin-left:10%;*/
                        height: 30%;
                        width: 60px;
                        flex-wrap:wrap;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        /*background-color: #FF5A09;*/
                        border-radius: 4px;
                        margin-left: 2%;
                        margin-right: 1%;
                        margin-top: 10px;
                    }
                    .t1{
                        background-color: #FF5A09;;
                        color: white;
                    }
                    .t2{
                        background-color: white;
                    }
                    .t3{
                        background-color: white;
                    }
                    .t4{
                        background-color: white;
                    }
                    .t5{
                        background-color: white;
                    }
                    .t6{
                        background-color: white;
                    }
                    .t7{
                        background-color: white;
                    }
                 



                #temasEjercicios{
                    width: 100%;
                    height: 39%;
                }

        /*---Vista del contenido general----*/
        #contenidoEjercicios{
            /*background-color:green;*/
            display: flex;
            width:100%;
            height: 100%;
            /* flex-shrink: 10px; */
            justify-content:center;
            /* align-items: center; */
            flex-wrap: wrap;
        }

            #encabezado-contenidoEjercicios{
                width: 90%;
                height:auto;
                /*margin-left: 10%;*/
                margin-top: 2%;
                background-color: #FFFFFF;
                padding: 2%;
                border-radius:10px;
                box-shadow: 0px 0px 4px gray;

            }
                #titulo-contenidoEjercicos{
                    width: 100%;
                    /*background-color: red;*/
                    padding-bottom: 2%;
                    display: flex;
                    justify-content: space-between;
                }
                #titulo-contenidoEjercicos>p{
                    font-size: 18px;
                    font-weight: bold;
                }
                #subtitulo-contenidoEjercicios{
                    display: flex;
                    /*background-color: cyan;*/
                    width: 25%;
                    margin-left: 30%;
                    /*align-items: center;*/
                    justify-content: flex-end;
                    
                }
                #subtitulo-contenidoEjercicios>p{
                    font-size: 13px;
                }
                #calificacion{
                    margin-right: 5%;
                    font-weight: bold;
                }
                #descripcion-contenidoEjercicios{
                    width: 100%;
                    /*background-color: orange;*/
                    /*overflow: auto;*/
                }
                #titulo-descripcion-contenidoEjercicios>p{
                    font-weight: bold;
                    font-size: 15px;
                }
            
        #contenido-contenidoEjercicios{
            height: 70%;
            width: 95%;
            background-color: #FFFFFF;
            margin-top: 2%;
            border-radius:10px;
            box-shadow:0px 0px 5px gray;
        }


        /*MEDIA*/
         @media (max-width: 840px) {
        #botonLogin{
            /*background:pink;*/
        }
         #divdatosLogin{
            padding: 1rem;
         }

         #tituloLogin{
            margin-top: 20%;
         }
         /*---------ESTILOS actividadesEjercicios------------*/
        #encabezado-menuEjercicios{
            width:60%;
        }
    }

        /*------- ESTILOS enlaces de Navbar Dashboard --------- */
        .opcionInicio{
            text-decoration: none;
            color: white;
        }
        .opcionContenido{
            text-decoration: none;
            color: white;
        }
        .opcionHerramientas{
            text-decoration: none;
            color: white;
        }
        .img-logout{
            width: 75%;
            height: 75%;
            margin-left:20%;
        }
        .navbar-logout {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #eeeeee;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: center; 
            /* background-image: url('../img/logout6.png'); */
            cursor: pointer;
        }
        /*--------Estilos Restablecer contraseña------------*/
        *{
            padding:0px;
            margin: 0px;
            font-family: 'Montserrat',sans-serif;
            font-size: 16px;
        }
        
        .PrincipalRestablecer{
            width: 100%;
            height: 100vh;
            background: #333645;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .ContenidoRestablecer{
            width: 45%;
            height:400px;
            background:#FFFFFF;
            text-align: center;
            border-radius: 0.3rem;
            border-style: none;
        }
        .InputRestablecer{
            width: 65%;
            height: 26px;
            margin-top: 40px;
            text-indent: 10px;
        }
        .TituloRestablecer{
            margin-top: 61px;
           font-size: 30px;
        }
        .btnRestablecer{
            background: #00B0FF;
            margin-top: 40px;
            width: 65%;
            height:26px;
            text-align: center;
            border-radius: 0.3rem;
            border-style: none;
            color: white; 
        }
        
        /*-----------------------------------------------*/
        @media(max-width:1122px ){
            #unidadesEjerciciosContenedor{
                overflow-y: scroll;
            }
            #unidadesEjerciciosContenedor>div{
                margin-top: 30px;
            }
        }
        @media(max-width: 1235px){
            #temasEjerciciosContenedor{
                /*background-color: green;*/
                align-items: center;
            }
            #temasEjerciciosContenedor>div{
                /*margin-top: 10px;*/
            }
        }

        @media(max-width: 1685px){
            #unidadesEjerciciosContenedor{
                /*background-color: red;*/
            }
        }