*{
    padding:0px;
    margin: 0px;
    font-family: 'Montserrat',sans-serif ;
    font-size:16px;
}



#principalLogin{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
}
    #divimagenLogin{
    display: flex;
    /* width:calc(100%-700px); */
    width: 100%;
    background-color:white;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    }
        #divimagenLogin>img{
            width: 100%;
        }
    #divdatosLogin{
    background-color:#333645;
    display: flex;
    width:75%;
    
    /* flex-shrink: 10px; */
    justify-content:center;
    /* align-items: center; */
    flex-wrap: wrap;
    
    padding: 1rem;
    box-sizing: border-box;
    }
        #contenidodatosLogin{
            background-color: #333645;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }
        #tituloLogin{
            margin-top: 60%;
            padding-bottom: 20%;
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            color: #d4cfcf;
            
        }

        input[type=password], input[type=text] {
            padding-top: .5rem;
            padding-left: .5rem;
        }
       
        #subtituloLogin{
            padding-top:5%;
            padding-bottom:5%;
            color: #f2f2f2;
        }
        #inputLogin{
            width: 100%;
            height:2rem;
            border-radius: 0.2rem;
            border-style: none;
        }
        ::placeholder { /* WebKit, Blink, Edge */
            color: #ccc;
            display: flex;
            margin-top:10px;
        }
        #parrafoLogin{
            margin-top: 20%;
        }
        #parrafoLogin>p{
            font-size:1rem;
            color: #f2f2f2;
        }
        #botonLogin{
            background:#00B0FF;
            display: flex;
            margin-top: 20%;
            width: 100%;
            height:2.3rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius:0.3rem;
            border-style: none;
            color: white;
        }

    