{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<form action="{% url 'compilador' %}" target="_blank">
    <input id="app-submit" type="submit" value="Compilador" class="openCompiladorB"/>
  </form>
  
<script>
    window.onload=function(){
    document.getElementById("btn-ejercicio-5-1").addEventListener("click", enviarEjercicio5_1);
    var element=document.getElementById("query");
    element.addEventListener('click',  function borrarTexto(ev){
        ev.target.innerHTML="";
        ev.target.style.color="black";
    });
  }
</script>

<div contenteditable="true" id="query">
{% if respuestas %}
    {% for respuesta in respuestas %}
        {{respuesta.respuesta|linebreaksbr}}
    {% endfor %}
{% else %}
    Escribe aqui tu consulta SQL
{% endif %}
</div>

<div class="container">
    <button id="btn-ejercicio-5-1">Enviar</button>
</div>
{% endblock %}