

{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<style>
    li {
    list-style-type: none;
    width: 200px;
    background:yellow;
    border: solid 1px black;
    }
    #sortable1>li, #sortable2>li {
        background: aqua;
    }
    li.filled {
        background: #DDD !important;
    }
    span.delete {
        background:red;
        float:right;
        width: 15px;
        text-align:center;
        cursor:pointer;
    }
</style>
  
<script>
  window.onload = function(){
      document.getElementById("btn-ejercicio-1-7").addEventListener("click", enviarEjercicio6_1);
  }
</script>

1. ¿Para que se ocupa el comando SELECT?
<select name="" id="pregunta-1">
  <option value="a">Visualizar los datos de motores de bases de datos</option>
  <!-- buena -->
  <option value="b">Visualizar los datos de columnas especificas </option>
  <option value="c">Modificar los datos de una tabla especifica</option>
</select>
<br>


2. ¿Como se llama el proceso de seleccionar unicamente ciertas columnas de una tabla?
<select name="" id="pregunta-2">
  <option value="a">Unión</option>
  <option value="b">Selección</option>
  <!-- buena -->
  <option value="c">Proyección</option>
</select>
<br>


3. ¿A que se refiere el proceso de Selección?
<select name="" id="pregunta-3">
  <!-- buena  -->
  <option value="a">Toma los registros con condiciones especificas</option>
  <option value="b">Toma los campos especificos de una base de datos</option>
  <option value="c">Toma las columnas con condiciones especificas</option>
</select>
<br>


4. ¿Para que sirve la clausula WHERE en el lenguaje SQL? 
<select name="" id="pregunta-4">
  <option value="a">Es la expresión lógica usada para realizar ciclos</option>
  <option value="b">Es la expresión lógica usada para realizar disparadores</option>
  <!-- buena -->
  <option value="c">Es la expresión lógica usada para realizar comparaciones</option>
</select>
<br>

5. Los operadores de comparación soportados por WHERE son:
<select name="" id="pregunta-5">
  <!-- buena -->
  <option value="a">==, <>, <, <=, >, >=, AND, OR, NOT</option>
  <option value="b">AND, OR, NOT</option>
  <option value="c">==, <>, <, <=, >, >=</option>
</select> 
<br>


6. ¿En que se distingue el operador LIKE de WHERE?
<select name="" id="pregunta-6">
  <!-- buena -->
  <option value="a">Es un caracter comodin que permite buscar patrones</option>
  <option value="b">Es una palabra reservada no válido en bases de datos de Oracle</option>

  <option value="c">Es un caracter comodin que permite delimitar tablas y sus columnas</option>
</select>
<br>

7. Selecciona la operación que permite combinar dos tablas, mostrando sus datos simultaneamente
<select name="" id="pregunta-7">
  <option value="a">Drop</option>
  <!-- buena -->
  <option value="b">Unión</option>
  <option value="c">Select</option>
</select>
<br>

8. ¿Que clausula es necesaria para combinar dos tablas?
<select name="" id="pregunta-8">
  <option value="a">Clausula LIKE</option>
  <!-- buena -->
  <option value="b">Clausula WHERE</option>
  <option value="c">Clausula OR</option>
</select>
<br>

9. ¿Sobre que campos se realiza la combinación de las tablas?
<select name="" id="pregunta-9">
  <!-- Buena -->
  <option value="a">Llave primaria y llave foranea</option>
  <option value="b">Llave foranea y campos NOT NULL</option>
  <option value="c">Llave primaria y campos UNIQUE</option>
</select>
<br>

10. ¿Cuantas condiciones de unión deben existir para N tablas?
<select name="" id="pregunta-10">
  <!-- buena -->
  <option value="a">Deben existir N-1 condiciones de unión</option>
  <option value="b">No es necesario que existan condiciones de unión</option>
  <option value="c">Deben existir N condiciones de unión</option>
</select>

<div class="container">
    <button id="btn-ejercicio-1-7">Enviar</button>
</div>
{% endblock %}