{% extends 'actividadesEjercicios.html' %}
{% block ejercicio %}
<script>
    window.onload=function(){
    document.getElementById("btn-ejercicio-7-1").addEventListener("click", enviarEjercicio7_1);
  }
</script>

<div contenteditable="true" id="query">
    {% if respuestas %}
        {% for respuesta in respuestas %}
            {{respuesta.respuesta}}
        {% endfor %}
    {% else %}
        Escribe aqui tu consulta SQL
    {% endif %}
    </div>

<div class="container">
    <button id="btn-ejercicio-7-1">Enviar</button>
</div>
{% endblock %}