

{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<style>
    li {
    list-style-type: none;
    width: 200px;
    background:yellow;
    border: solid 1px black;
    }
    #sortable1>li, #sortable2>li {
        background: aqua;
    }
    li.filled {
        background: #DDD !important;
    }
    span.delete {
        background:red;
        float:right;
        width: 15px;
        text-align:center;
        cursor:pointer;
    }
</style>
  
<script>
  window.onload = function(){
      document.getElementById("btn-ejercicio-3-2").addEventListener("click", enviarEjercicio3_2);
  }
</script>

<script>
  var count = 0;
  
  function clickFunction() {
      count += 1;
      // var click = document.getElementById('click').innerHTML = count;
      var btn = document.getElementById("btn-ejercicio-3-2");
  
      if(count >= 2)  {
          btn.disabled = true;
      }        
  }
  </script>
  


1. ¿Que es un DBMS?
<select name="" id="pregunta-1">
  <!-- buena -->
  <option value="a">Sistema manejador de bases de datos</option>
  <option value="b">Base de datos de un sistema de manejo</option>
  <option value="c">Sistema relacional de una base de datos</option>
</select>
<br>


2. ¿Cuando NO es necesario un BDMS?
<select name="" id="pregunta-2">
  <option value="a">Cuando se almacenan grandes cantidades de informacion</option>
  <!-- buena -->
  <option value="b">Cuando no es necesario el acceso concurrente</option>
  <option value="c">Cuando se prefiere asegurar la validez y consistencia </option>
</select>
<br>


3. ¿Que significa DDL? 
<select name="" id="pregunta-3">
  <!-- BUENA -->
  <option value="a">Data Definition Language</option>
  <option value="b">Data Manipulation Language</option>
  <option value="c">Data Control Language</option>
</select> 
<br>


4. ¿Que significa DML?
<select name="" id="pregunta-4">
  <option value="a">Data Control Language</option>
  <!-- BUENA -->
  <option value="b">Data Manipulation Language</option>
  <option value="c">Data Definition Language</option>
</select>
<br>


5. ¿Cual de las siguientes NO es una opcion dentro de DDL?
<select name="" id="pregunta-5">
  <option value="a">CREATE</option>
  <option value="b">ALTER</option>
  <!-- BUENA -->
  <option value="c">DELETE</option>
</select>
<br>


6. ¿Cual de las siguientes NO es una opcion dentro de DML?
<select name="" id="pregunta-6">
  <option value="a">INSERT</option>
  <!-- BUENA -->
  <option value="b">DROP</option>
  <option value="c">SELECT</option>
</select>
<br>

7. ¿Que es un modelo relacional?
<select name="" id="pregunta-7">
  <option value="a">Modelo de creacion de una base de datos</option>
  <!-- BUENA -->
  <option value="b">Representacion simple de las tablas y sus relaciones</option>
  <option value="c">Representacion no grafica de un conjunto de tablas</option>
</select>
<br>

8. ¿Que es una tabla?
<select name="" id="pregunta-8">
  <!-- BUENA -->
  <option value="a">Estructura donde se almacena la informacion</option>
  <option value="b">Conjunto de datos ordenados</option>
  <option value="c">Base de operaciones de una base de datos</option>
</select>
<br>

9. Menciona un atributo que tiene una tabla
<select name="" id="pregunta-9">
  <option value="a">Filas o registros</option>
  <option value="b">Campos o columnas</option>
  <option value="c">Restricciones</option>
  <!-- BUENA -->
  <option value="d">Todas las anteriores</option>
</select>
<br>

10. ¿Que restriccion tiene una tabla?
<select name="" id="pregunta-10">
  <option value="a">No debe haber filas duplicadas</option>
  <option value="b">No son infinitas</option>
  <option value="c">El orden de las columnas/filas no importa</option>
  <option value="d">Todas las anteriores</option>
</select>

<div class="container">
    <button onclick="clickFunction()" id="btn-ejercicio-3-2">Enviar</button>
</div>
{% endblock %}