{% extends 'actividadesEjercicios.html' %}
{% block ejercicio %}

<form action="{% url 'compilador' %}" target="_blank">
    <input id="app-submit" type="submit" value="Compilador" class="openCompiladorB"/>
  </form>
<script>
    window.onload=function(){
    document.getElementById("btn-ejercicio-7-1").addEventListener("click", enviarEjercicio7_1);
  
    var element=document.getElementById("query");
    element.addEventListener('click',  function borrarTexto(ev){
        ev.target.innerHTML="";
        ev.target.style.color="black";
    });
  }
</script>

<script>
    var count = 0;
    
    function clickFunction() {
        count += 1;
        // var click = document.getElementById('click').innerHTML = count;
        var btn = document.getElementById("btn-ejercicio-7-1");
    
        if(count >= 2)  {
            btn.disabled = true;
        }        
    }
    </script>

<div contenteditable="true" id="query">
    {% if respuestas %}
        {% for respuesta in respuestas %}
            {{respuesta.respuesta|linebreaksbr}}
        {% endfor %}
    {% else %}
        Escribe aqui tu consulta SQL
    {% endif %}
    </div>

<div class="container">
    <button onclick="clickFunction()" id="btn-ejercicio-7-1">Enviar</button>
</div>
{% endblock %}