

{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<style>
    li {
    list-style-type: none;
    width: 200px;
    background:yellow;
    border: solid 1px black;
    }
    #sortable1>li, #sortable2>li {
        background: aqua;
    }
    li.filled {
        background: #DDD !important;
    }
    span.delete {
        background:red;
        float:right;
        width: 15px;
        text-align:center;
        cursor:pointer;
    }
</style>
  
<script>
  window.onload = function(){
      document.getElementById("btn-ejercicio-0-1").addEventListener("click", enviarEjercicio0_1);
  }
</script>

1. ¿Que es una base de datos?
<select name="" id="pregunta-1">
  <option value="a">Conjunto de almacenamientos</option>
  <option value="b">Conjunto de varias bases de datos</option>
  <!-- BUENA -->
  <option value="c">Repositorio de información digital</option>
</select>
<br>


2. ¿Que es una tabla?
<select name="" id="pregunta-2">7
  <!-- BUENA -->
  <option value="a">Modelo de organizacion de base de datos</option>
  <option value="b">Modelo de conjuncion de sistemas</option>
  <option value="c">Modelo de operacion de una arquitectura</option>
</select>
<br>

3. ¿Que es una consulta?
<select name="" id="pregunta-3">
  <option value="a">Comandos para creacion de un sistema</option>
  <!-- BUENA -->
  <option value="b">Comandos para busqueda de información especifica</option>
  <option value="c">Comandos para operación de un lenguaje</option>
</select> 
<br>


4. ¿Que es una fila?
<select name="" id="pregunta-4">
  <option value="a">Representación de un dato</option>
  <option value="b">Representación de un atributo</option>
  <!-- buena -->
  <option value="c">Representación de un registro</option>
</select>
<br>


5. Una columna es:
<select name="" id="pregunta-5">
  <option value="a">Representación de un dato</option>
  <!-- buena -->
  <option value="b">Representación de un atributo</option>
  <option value="c">Representación de un registro</option>
</select>
<br>


6. ¿Que es un dato?
<select name="" id="pregunta-6">
  <!-- Buena -->
  <option value="a">Representación minima de un atributo</option>
  <option value="b">Representación maxima de un sistema</option>
  <option value="c">Representación numérica de un base de datos</option>
</select>
<br>

7. ¿Que es un sistema de gestor de base de datos?
<select name="" id="pregunta-7">
  <option value="a">Cualquier sistema que tenga una base de datos</option>
  <!-- BUENA -->
  <option value="b">Sistema de manipulación y mantenimiento de datos</option>
  <option value="c">Cualquier base de datos</option>
</select>
<br>

8. ¿Que es una restricción?
<select name="" id="pregunta-8">
  <!-- BUENA -->
  <option value="a">Definición de propiedades a cumplir por la información a ingresar</option>
  <option value="b">Definición del nombre de las tablas</option>
  <option value="c">Definición de los resultados de las consultas realizadas</option>
</select>
<br>

9. ¿Que es la cardinalidad?
<select name="" id="pregunta-9">
  <!-- BUENA -->
  <option value="a">Manera en la cual se relacionan las tablas</option>
  <option value="b">Manera en la que se relacionan las bases de datos</option>
  <option value="c">Manera en la que se relacionan los sistemas</option>
</select>
<br>

10. ¿Que es un modelo entidad-relación?
<select name="" id="pregunta-10">
  <option value="a">Representación grafica de un dato</option>
  <option value="b">Representación grafica de un sistema</option>
  <!-- BUENA -->
  <option value="c">Representación grafica de una base de datos</option>
</select>

<div class="container">
    <button id="btn-ejercicio-0-1">Enviar</button>
</div>
{% endblock %}