{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<form action="{% url 'compilador' %}" target="_blank">
    <input id="app-submit" type="submit" value="Compilador" class="openCompiladorB"/>
  </form>
  
<script>
    window.onload=function(){
    document.getElementById("btn-ejercicio-5-1").addEventListener("click", enviarEjercicio5_1);
    var element=document.getElementById("query");
    element.addEventListener('click',  function borrarTexto(ev){
        ev.target.innerHTML="";
        ev.target.style.color="black";
    });
  }
</script>

Recuerda:
<ul>
    <li>El ISBN cuenta con 13 numeros</li>
    <li>Atributos VARCHAR deberán almacenar 100 caracteres por igual</li>
    <li>La tabla empleados debera poder contener 1 millon de registros</li>
    <li>El expediente de estudiantes contiene 6 numeros</li>
    <li>La tabla  prestamos debera poder contener 1 millon de registros</li>
    <LI>La construccion de las PK deberas realizarla SIN realizar el CONSTRAINT apropiado</LI>
    <li>Las PK deberan siempre estar antes que los demas atributos</li>
    <li>La construccion de FK deberas realizarlas poniendo "FK_NOMBRECAMPOCOMPLETO"</li>
    <li>IMPORTANTE: deberas usar el mismo nombre de los atributos del ejercicio #9 de la unidad #5</li>
</ul>

<br>

<div contenteditable="true" id="query">
{% if respuestas %}
    {% for respuesta in respuestas %}
        {{respuesta.respuesta|linebreaksbr}}
    {% endfor %}
{% else %}
    Escribe aqui tu consulta SQL
{% endif %}
</div>

<div class="container">
    <button id="btn-ejercicio-5-1">Enviar</button>
</div>
{% endblock %}