

{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<style>
    #sortable1, #sortable2, #sortable3, #sortable4, #sortable5{ 
      list-style-type: none;
      margin: 0;
      float: left;
      margin-right: 10px;
      background: #eee;
      padding: 5px;
      width: 143px;
      }
    #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li{
      margin: 5px;
      padding: 5px;
      font-size: 1.2em;
      width: 150px;
      }
</style>
  
<script>
  $(function(){
    $("ul.droptrue").sortable({
      connectWith: "ul"
    });

    $("#sortable1, #sortable2, #sortable3, #sortable4, #sortable5, #sortable6").disableSelection();
  });

  window.onload=function(){
    document.getElementById("btn-ejercicio-4-2").addEventListener("click", enviarEjercicio4_2);
  }

</script>

<script>
  var count = 0;
  
  function clickFunction() {
      count += 1;
      // var click = document.getElementById('click').innerHTML = count;
      var btn = document.getElementById("btn-ejercicio-4-2");
  
      if(count >= 2)  {
          btn.disabled = true;
      }        
  }
  </script>

<ul id="sortable1" class="droptrue">
  Atributos
  <li class="ui-state-default">PK - ID(number)</li>
  <li class="ui-state-default">PK - ID(varchar2)</li>
  <li class="ui-state-default">PK - expedienteAlumno(varchar2)</li>
  <li class="ui-state-default">FK - expedienteAlumno(number)</li>
  <li class="ui-state-default">PK - isbn(varchar2)</li>
  <li class="ui-state-default">FK - isbn(number)</li>
  <li class="ui-state-default">fechaPrestamo(date)</li>
  <li class="ui-state-default">FK - fechaPrestamo(date)</li>
  <li class="ui-state-default">fechaEntrega(date)</li>
  <li class="ui-state-default">FK - fechaEntrega(date)</li>
  <li class="ui-state-default">FK - claveEmpleado(number)</li>
  <li class="ui-state-default">claveEmpleado(number)</li>
</ul>


<ul id="sortable2" class="dropfalse">
  LIBRO
  <!-- ORACLE -->
  <li class="ui-state-default">PK - isbn</li>
  <li class="ui-state-default">titulo</li>
  <li class="ui-state-default">autor</li>
  <li class="ui-state-default">editorial</li>
  <li class="ui-state-default">ubicacion</li>
  
</ul>

<ul id="sortable3" class="dropfalse">
  EMPLEADO
  <!-- ORACLE -->
  <li class="ui-state-default">PK - clave</li>
  <li class="ui-state-default">nombreEmpleado</li>
  <li class="ui-state-default">puesto</li>
  <li class="ui-state-default">fechaContratacion</li>
</ul>

<ul id="sortable4" class="dropfalse">
  ALUMNO
  <!-- ORACLE -->
  <li class="ui-state-default">PK - expediente</li>
  <li class="ui-state-default">nombreAlumno</li>
  <li class="ui-state-default">Plan</li>
  <li class="ui-state-default">fechaIngreso</li>
</ul>

<ul id="sortable5" class="droptrue">
  Prestamo
</ul>
 
<br style="clear:both">
<div class="container">
  <button onclick="clickFunction()" id="btn-ejercicio-4-2">Enviar</button>
</div>

{% endblock %}