

{% extends 'actividadesEjercicios.html' %}

{% block ejercicio %}
<style>
    #sortable1, #sortable2, #sortable3, #sortable4, #sortable5, #sortable6, #sortable7{ 
      list-style-type: none;
      margin: 0;
      float: left;
      margin-right: 10px;
      background: #eee;
      padding: 5px;
      width: 143px;
      }
    #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li, #sortable6 li, #sortable7 li{
      margin: 5px;
      padding: 5px;
      font-size: 1.2em;
      width: 120px;
      }
</style>
  
<script>
  $(function(){
    $("ul.droptrue").sortable({
      connectWith: "ul"
    });

    $("#sortable1, #sortable2, #sortable3, #sortable4, #sortable5, #sortable6, #sortable7").disableSelection();
  });

  window.onload=function(){
    document.getElementById("btn-ejercicio-5-2").addEventListener("click", enviarEjercicio5_2);
  }
</script>

<script>
  var count = 0;
  
  function clickFunction() {
      count += 1;
      // var click = document.getElementById('click').innerHTML = count;
      var btn = document.getElementById("btn-ejercicio-5-2");
  
      if(count >= 2)  {
          btn.disabled = true;
      }        
  }
  </script>

<ul id="sortable1" class="droptrue">
  Atributos
  <!-- NOT NULL -->
  <li class="ui-state-default">Habilita la posibilidad de ingresar valores nulos</li>

  <!-- UNIQUE -->
  <li class="ui-state-default">Habilita la imposibilidad de ingresar dos valores iguales en la misma columna</li>
  <li class="ui-state-default">Es posible ingresar valores nulos</li>

  <!-- PRIMARY KEY -->
  <li class="ui-state-default">Solo puede existir una por tabla</li>
  <li class="ui-state-default">NO puede contener valores nulos</li>
  <li class="ui-state-default">NO pueden existir dos valores en esta columna</li>

  <!-- FOREIGN KEY -->
  <li class="ui-state-default">Restingue los valores de una columna con base en los valores de otra tabla</li>
  <li class="ui-state-default">SI puede contener valores nulos</li>
  <li class="ui-state-default">Es posible que sea autoreferencial</li>

  <!-- CHECK -->
  <li class="ui-state-default">Habilita la posibilidad de realizar validacion a los datos antes de ingresarlos a la BD</li>
  <li class="ui-state-default">Usada para definir valores predeterminados o revisar que esten dentro de un rango de numeros</li>

  <!-- DEFAULT -->
  <li class="ui-state-default">Establece un valor predeterminado si no se especifica uno</li>
  <li class="ui-state-default">Reduce la carga de trabajo para la persona que llena formularios</li>


</ul>

<ul id="sortable2" class="droptrue">
  NULL/NOT NULL
</ul>

<ul id="sortable3" class="droptrue">
  UNIQUE
</ul>

<ul id="sortable4" class="droptrue">
  PRIMARY KEY
</ul>

<ul id="sortable5" class="droptrue">
  FOREIGN KEY
</ul>

<ul id="sortable6" class="droptrue">
  CHECK
</ul>

<ul id="sortable7" class="droptrue">
  DEFAULT
</ul>

<br style="clear:both">
<div class="container">
  <button onclick="clickFunction()" id="btn-ejercicio-5-2">Enviar</button>
</div>

{% endblock %}