{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Ejercicios</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> 
	<script src="{% static 'js/funcionesUriel.js' %}"></script>
	<script src="{% static 'js/jQuery.js' %}"></script>
</head>
<body>
	<div id="principalEjercicios">
		<div id="menuEjercicios">
			<div id="encabezado-menuEjercicios">
				<img id="imagenback" src="{% static 'img/imagenback.png' %}">
				<img id="imagenperfil" class="imgRedonda" src="{% static 'img/imagenperfil.png' %}">
				<p id="tituloEjercicio" class="titulo-data">Data</p>
				<p id="tituloEjercicio" class="titulo-base">Bass</p>
			</div>
			<div id="unidadesEjercicios">
				<p>Temas</p>
				{% if temas %}
				<div class="unidadesEjerciciosContenedor">
					{% for tema in temas %}
						{% if tema.is_active %}
							<div class="u2" id="{{ tema.id }}">{{forloop.counter0}}</div>
						{% else %}
							<div class="u3">{{forloop.counter0}}</div>
						{% endif %}
					{% endfor %}
				</div>
				{% else %}
					<p>No hay temas por el momento. Intenta mas tarde o habla con el Profesor.</p>
				{% endif %}
				
			</div>
			<div id="temasEjercicios">
				<p>Ejercicios</p>
				<div id="temasEjerciciosContenedor">
					{% if ejercicios %}
						{% for ejercicio in ejercicios %}
							{% if ejercicio.is_activated %}
								<div class="t6" id="ejercicio-{{ejercicio.id}}" onclick="getEjercicio(this.id)">{{ejercicio.id}}</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<p>No hay ejercicios por el momento. Intenta mas tarde o habla con el Profesor.</p>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="contenidoEjercicios">
			<div id="encabezado-contenidoEjercicios">
				<div id="titulo-contenidoEjercicos">
					{% if ultima_unidad %}
						<p id="title" >Unidad {{ultima_unidad.id}}. {{ultima_unidad.title}}</p>
					{% else %}
						<p id="title">No hay unidades activas por el momento. Intenta mas tarde o habla con el Profesor.</p>
					{% endif %}
					<div id="subtitulo-contenidoEjercicios">
						<p id="calificacion">Calificación:</p>
						<p>0/0 pts.</p>
					</div>
				</div>
				<div id="descripcion-contenidoEjercicios">
				
					{% if ultima_unidad %}
					<div id="titulo-descripcion-contenidoEjercicios">
						<p>Descripción de la unidad</p>
					</div>
						<p id="description">{{ ultima_unidad.description}}</p>
					{% else %}
						<p id="description">No hay unidades activas por el momento. Intenta mas tarde o habla con el Profesor.</p>
					{% endif %}
				</div>
			</div>
			<div id="contenido-contenidoEjercicios">
				{{ ultima_unidad.presentation | safe }}
			</div>
		</div>
	</div>
</body>
</html>