<!DOCTYPE html>
<html>
<head>
	<title>Ejercicicos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="principalEjercicios">
		<div id="menuEjercicios">
			<div id="encabezado-menuEjercicios">
				<img id="imagenback" src="imagenback.png">
				<img id="imagenperfil" src="imagenperfil.jpeg" class="imgRedonda">
				<p id="tituloEjercicio" class="titulo-data">Data</p>
				<p id="tituloEjercicio" class="titulo-base">Base</p>
			</div>
			<div id="unidadesEjercicios">
				<p>Unidades</p>
				<div id="unidadesEjerciciosContenedor">
					<div class="u1">1</div>
					<div class="u2">2</div>
					<div class="u3">3</div>
					<div class="u3">4</div>
				</div>
				
			</div>
			<div id="temasEjercicios">
				<p>Temas</p>
				<div id="temasEjerciciosContenedor">
					<div class="t1">1</div>
				<div class="t2">2</div>
				<div class="t3">3</div>
				<div class="t4">4</div>
				<div class="t5">5</div>
				<div class="t6">6</div>
				<div class="t7">7</div>

				</div>
			</div>
		</div>

		<div id="contenidoEjercicios">
			<div id="encabezado-contenidoEjercicios">
				<div id="titulo-contenidoEjercicos">
					<p>Unidad 3. Conceptos Básicos</p>
					<div id="subtitulo-contenidoEjercicios">
						<p id="calificacion">Calificación:</p>
						<p>0/0 pts.</p>
					</div>
					
				</div>
				<div id="descripcion-contenidoEjercicios">
				<div id="titulo-descripcion-contenidoEjercicios">
					<p>Instrucciones de la unidad:</p>
				</div>
				<p>El alumno deberá arrastrar las correspondientes 
				respuestas a las direfentes columnas con esto el alumno aprenderá a la distinción de 
				DML (DataManipulationLanguage) y DDL (DataDefinitionLanguage)  </p>
				</div>
			</div>

			<div id="contenido-contenidoEjercicios">
				<!-- <p>asdfvb</p> -->
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>