{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div class="container">

    {% if first_login %}
        <p>Te recomendamos cambiar tu contraseña la primera vez que inicias sesion</p>
        <p>Después de esto, podras encontrar esta opcion en tu perfil</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <table border="1">
            {% for field in form %}
              <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                  {{ field.errors }}
                  {{ field }}
                </td>
              </tr>
            {% endfor %}
          </table>
        <button type="submit">Cambiar</button>
    </form>
    <a href="{% url 'perfil' %}">
        <button>Regresar a mi perfil</button>
    </a>
</div>

{% endblock %}