{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!-- <div class="container"> -->
  {% if first_login %}
      <p class="textoRestablecer primerTextoRestablecer">Te recomendamos cambiar tu contraseña la primera vez que inicias sesion</p>
      <p class="textoRestablecer">Después de esto, podras encontrar esta opcion en tu perfil</p>
  {% endif %}
  <div class="contenidoRestablecer">
    
    <div class="contenidotextoRestablecer">

      

        <form method="POST" class="formRestablecer">
            {% csrf_token %}

            <div>
              <section class="formRestablecer-title">
                <span>Consejos para tu contraseña:</span>
              </section>
              <ul>
                <li>No deberá ser parecida a tu información personal</li>
                <li>Debe contener minimo 8 caracteres</li>
                <li>No deberá ser una contraseña demasiado comun (Ej: 12345678, ABCDEFG)</li>
                <li>Debe contener letras y números</li>
              </ul>

            </div>
            {% if messages %}
            
            <ul>
                {% for message in messages %}
                
                <div class="modal-container" id="modal_container">
                  <div class="modal">
                      <h1>DataBass</h1>
                      <p>{{message}}</p>
                      <div class="botonCerrar" id="close">Cerrar</div>
                  </div>
                </div>
                <script>
                                    
                  const modal_container=document.getElementById('modal_container')
                  const close=document.getElementById('close')
                  modal_container.classList.add('show')
                  close.addEventListener('click', () =>{
                      modal_container.classList.remove('show')
                  })
                </script>
                {% endfor %}
            </ul>
            {% endif %}
            <section class="tabla">
            <table border="1" class="tablaRestablecer">
                {% for field in form %}
                {% if field.errors %}
                <div class="modal-container" id="modal_container">
                  <div class="modal">
                      <h1 class="modalblack">DataBass</h1>
                      <p class="modalblack">{{field.errors}}</p>      
                      <div class="botonCerrar" id="close">Cerrar</div>
                  </div>
                </div>
                <script>
                                    
                  const modal_container=document.getElementById('modal_container')
                  const close=document.getElementById('close')
                  modal_container.classList.add('show')
                  close.addEventListener('click', () =>{
                      modal_container.classList.remove('show')
                  })
                </script>
                
                {% endif %}
                  <tr>
                    <th class="thRestablecer">{{ field.label_tag }}</th>
                    <td class="tdRestablecer">
                      {{ field }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </section>
              <div class="botonesRestablecer">
                <a href="{% url 'perfil' %}">
                    <div id="botonRegresarRestablecer">Regresar a mi perfil</div>
                </a>
                <button type="submit" id="botonCambiarRestablecer">Cambiar</button>
              </div>
        </form>
    </div>
    </div>
  <!-- </div> -->

{% endblock %}