{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/compilador.css' %}">
    <script src="{% static 'js/numeracion.js' %}" ></script>
    <script src="{% static 'js/funcionesUriel.js' %}" ></script>
    <script src="{% static 'js/jQuery.js' %}" ></script>
    <!-- <script src="./js/numeracion.js" ></script> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    <title>Compilador</title>
</head>
<body>
    <div id="Principal">
      
        <div class="container">
            <div class="row">
                <nav>
                    <div class="navbar-logo">Data<strong>Base</strong></div>
                    <ul class="navbar-list">
                        <li class="opciones">Inicio</li>
                        <li class="opciones">Contenido</li>
                        <li class="opciones">Herramientas</li>
                    </ul>		
                    <div class="navbar-profile">
                        <div class="navbar-notification">
                           
                            <div class="navbar-notification-count">1</div>
                        </div>
                        <div class="navbar-notification navbar-avatar">
                            <div class="navbar-picture">
                                <img src="{% static 'img/perfil.jpg' %}" alt="" class="img-profile">
                                <!-- <img src="./img/perfil.jpg" alt="" class="img-profile"> -->
                            </div>
                        </div>
                    </div>
                </nav>
                
            </div>


            <div id="mid-container">
                <div id="mid-container-content">
                    <div id="mid-left-container">
                        <div id="compilador-top">
                            <p id="titulo">Compilador <b>Oracle</b></p>
                            <div id="buttons">
                                <button id="borrar">Clear</button>
                                <button id="play" onclick="compile()"> Play</button>
                            </div>
                           
                        </div>
                        <div id="compilador-mid">
                            <div id="lines-creciente">
                                <div id="numbers-container">
                                    <div class="number">1</div>
                                   
                                </div>
                                <div id="lines-container">
                                    
                                    <div class="line"> <div class="letras-contenido" id="letras-contenido">/***********/Inserta tus Sentencias SQl/*************/</div></div>
                                    
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="mid-rigth-container">
                        <div id="salida-top">
                            <p>Salida</p>
                        </div>
                        <div id="salida-middle">
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
            </div>
</body>
</html>