{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<title>DataBass</title>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="modal-container" id="modal_container">
            <div class="modal">
                <h1>DataBass</h1>
                <p>{{message}}</p>
                <div class="botonCerrar" id="close">Cerrar</div>
            </div>
          </div>
          <script>
                              
            const modal_container=document.getElementById('modal_container')
            const close=document.getElementById('close')
            modal_container.classList.add('show')
            close.addEventListener('click', () =>{
                modal_container.classList.remove('show')
            })
          </script>
        {% endfor %}
    </ul>
{% endif %}

<div id="mid-container">
        <div id="img-dashboard-container">
            <img src="{% static 'img/code.png' %}" alt="" class="img">
        </div>
        <div id="right-dashboard-container">
        <div id="right-dashboard-container-top">
            <div id="rectangulo"> </div>
            <h1 id="dashboard-title">Inicio</h1>
        </div>
            <div id="right-dashboard-container-middle">
                <P>Sin análisis de grandes volúmenes de datos, las empresas son ciegos y sordos, vagando hacia fuera sobre la web como ciervos en una autopista.
                    </P>
                    <b id="autor" style="color:#FF5A09">– Geoffrey Moore</b>
            </div>
        </div>
    </div>
<div id="bottom-container">
    <div id="cuadros-container">
        <div class="dashboard-cuadros">
            <img src="{% static 'img/bd.png' %}" alt="">
            <text id="text1">Alumnos con su propia</text><b style="color: #FF5A09;">BD.</b>
        </div>
        <div class="dashboard-cuadros">
            <img src="{% static 'img/herramienta.png' %}" alt="">
            <b style="color: #FF5A09; margin-top: 20px;">Herramienta</b> <text style="color: white;"> de facil uso</text>
        </div>
        <div class="dashboard-cuadros">
            <img src="{% static 'img/foco.png' %}" alt="">
            <b style="color: #FF5A09; margin-top: 20px;">Reafirma</b> <text style="color: white;">tu conocimientos en clase</text>
        </div>
        <div class="dashboard-cuadros">
            <img src="{% static 'img/reloj.png' %}" alt="">
         <text style="color: white;" id="text1">Pon en practica tus</text><b style="color: #FF5A09;">habilidades.</b>
        </div>
    </div>
</div>
<footer>
    
    <b>Centro de Desarrollo- </b><b style="color: #FF5A09;">2020 &copy.</b>
</footer>

{% endblock %}