{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div id="mid-container">
        <div id="img-dashboard-container">
            <img src="{% static 'img/code.png' %}" alt="" class="img">
        </div>
        <div id="right-dashboard-container">
        <div id="right-dashboard-container-top">
            <div id="rectangulo"> </div>
            <h1 id="dashboard-title">Inicio</h1>
        </div>
            <div id="right-dashboard-container-middle">
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt lacus ac ipsum bibendum fermentum. Fusce tempor dolor a metus egestas, ut finibus eros convallis.</P>
            </div>
        </div>
    </div>
<div id="bottom-container">
    <div id="cuadros-container">
        <div class="dashboard-cuadros">
        </div>
        <div class="dashboard-cuadros">
        </div>
        <div class="dashboard-cuadros">
        </div>
        <div class="dashboard-cuadros">
        </div>
    </div>
</div>
<footer>
    
    <b>Centro de Desarrollo 2020 &copy. </b>
</footer>

{% endblock %}