
<!-- INSTRUCCIONES DE JS ABAJO -->

<!-- drag -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/libs/jquery.html-svg-connect.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/drag.css'%}">
<!-- drag -->


<!-- INSERTAR EN EL DIV LLAMADO contenido-contenidoEjercicios-overflow   DEL HMTL ACTIVIDADES EJERCICIO-->
<div style=" top: 268px; left: 522.96875px; background-color: green;"></div>
				<div class="main">
					<div id="svgContainer"></div>
				   
</div>
<button id="reset" onclick="reset()">Deshacer</button>
				<div class="contenedor-entidad">
					<div class="table" id="t1" data-position="1">
						<div class="table-header">
							<h2>Alumno</h2>
						</div>
						<div class="table-body">
							<div class="row-container" id="table-alumno">
								<div class="row">
									<div class="fk-container"></div>
									<p>idAlumno</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>nombreAlumno</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>apellidosAlumno</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>fotoAlumno</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>carreraAlumno</p>
								</div>
							</div>
						</div>
					</div>
				
					<div class="table" id="t2" data-position="2">
						<div class="table-header">
							<h2>Clase</h2>
						</div>
						<div class="table-body">
							<div class="row-container" id="table-maestro">
								<div class="row">
									<div class="fk-container"></div>
									<p>idClase</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>salonClase</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>horarioClase</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>status</p>
								</div>
							</div>
						</div>
					</div>
				
					<div class="table" id="t3" data-position="3">
						<div class="table-header">
							<h2>Maestro</h2>
						</div>
						<div class="table-body">
							<div class="row-container" id="table-clase">
								<div class="row">
									<div class="fk-container"></div>
									<p>idMaestro</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>nombreMaestro</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>apellidoMaestro</p>
								</div>
								<div class="row">
									<div class="fk-container"></div>
									<p>fotoMaestro</p>
								</div>
								
							</div>
						</div>
					</div>
                </div>
                

<!-- Insertar Al final del html  -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{% static 'js/drag.js'%}"></script>