<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Ejercico 1</title>
</head>
<body>
    <div id="principalEjercicio">
        <div id="columnas">
            <div class="columna">
                <div class="columna-titulo">videojuegos</div>
                <div class="columna-descripcion">
                    <div class="columna-primera">
                        <div class="uno">titulo</div>
                        <div class="uno">genero</div>
                        <div class="uno">consola</div>
                        <div class="uno">desarrollador</div>
                        <div class="uno">precio</div>
                        <div class="uno">lanzamiento</div>
                    </div>
                    <div class="columna-segunda">
                        <div class="uno">int</div>
                        <div class="uno">int</div>
                        <div class="uno">int</div>
                        <div class="uno">int</div>
                        <div class="uno">int</div>
                        <div class="uno">int</div>
                    </div>
                </div>
            </div>


            <div class="columna">
                <div class="columna-titulo">proveedores</div>
                <div class="columna-descripcion">
                    <div class="columna-primera">
                        <div class="dos">nombre</div>
                        <div class="dos">telefono</div>
                        <div class="dos">direccion</div>
                    </div>
                    <div class="columna-segunda">
                        <div class="dos">int</div>
                        <div class="dos">int</div>
                        <div class="dos">int</div>
                    </div>
                </div>
            </div>

            <div class="columna">
                <div class="columna-titulo">empleados</div>
                <div class="columna-descripcion">
                    <div class="columna-primera">
                        <div class="tres">clave</div>
                        <div class="tres">nombre</div>
                        <div class="tres">sucursal</div>
                        <div class="tres">salario</div>
                    </div>
                    <div class="columna-segunda">
                        <div class="tres">int</div>
                        <div class="tres">int</div>
                        <div class="tres">int</div>
                        <div class="tres">int</div>
                    </div>
                </div>
            </div>



            <div class="columna">
                <div class="columna-titulo">clientes</div>
                <div class="columna-descripcion">
                    <div class="columna-primera">
                        <div class="cuatro">nombre</div>
                        <div class="cuatro">direccion</div>
                        <div class="cuatro">correo electronico</div>
                        <div class="cuatro">telefono</div>
                    </div>
                    <div class="columna-segunda">
                        <div class="cuatro">int</div>
                        <div class="cuatro">int</div>
                        <div class="cuatro">int</div>
                        <div class="cuatro">int</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ejercicio-elementos">
            <div class="titulo-elementos">
                <h2>Elementos</h2>    
            </div>
            <div class="opciones-elementos">
                <div>int</div>
                <div>varchar</div>
                <div>char</div>
                <div>number</div>
                <div>date</div>
            </div>
        </div>
    </div>
</body>
</html>