<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">    <title>Login</title>
</head>
<body>
    <div id="principalLogin">
        <div id="divimagenLogin">
            <img src="imagenlogin.png" alt="">
        </div>

        <div id="divdatosLogin">    
           <!--  <div id="divtituloLogin">
                
            </div> -->
            <div id="contenidodatosLogin">
                <form action="#" method="POST">
                    <p id="tituloLogin">Iniciar Sesión</p>
                    <p id="subtituloLogin">Expediente</p>
                    <input id="inputLogin" type="text" placeholder="123456">
                    <p id="subtituloLogin">Contraseña</p>
                    <input id="inputLogin" type="password" placeholder="******">
                    <div id="parrafoLogin">
                        <p>Si es la primera vez que inicias sesión,</p> 
                        <p>tu contraseña  es tu expediente seguido </p> 
                        <p> de un punto.</p>
                    </div>
                    
                    <button id="botonLogin">Iniciar Sesión</button>
    
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>