

<div class="container">
	<div class="row">
		<nav>
			<div class="navbar-logo">Data<strong>Base</strong></div>
			<ul class="navbar-list">
				<li>Inicio</li>
				<li>Contenido</li>
				<li>Herramientas</li>
			</ul>		
			<div class="navbar-profile">
				<div class="navbar-notification">
					<div class="navbar-notification-count">1</div>
				</div>
				<div class="navbar-notification navbar-avatar">
					<div class="navbar-picture"></div>
				</div>
			</div>
		</nav>
	</div>
	
	<div class="row">
		<section class="user-information">
			<div>
				<div class="navbar-notification navbar-avatar">
					<div class="navbar-picture"></div>
				</div>
			</div>
			<div>
				<p>¡Bienvenido!</p>
				<p>Sanchez Carlos Manuel</p>
			</div>
			<div>
				<p>Correo</p>
				<p>cmsmcmsm230598@gmail.com</p>
			</div>
			<div>
				<p>Promedio</p>
				<p>0.0</p>
			</div>
		</section>
	</div>
</div>