{% load static %}
<html lang="en"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil</title>
	<link rel="stylesheet" href="{% static 'css/estilosEladio.css' %}">
</head>
<body>


	<div class="container blue-dark-1">
		<div class="row">
			<nav class="center blue-dark-1">
				<div class="navbar-logo txt-white txt-gray">Data<strong class="txt-white">Base</strong></div>
				<ul class="navbar-list txt-white">
					<li class="center">Inicio</li>
					<li class="center">Contenido</li>
					<li class="center">Herramientas</li>
				</ul>		
				<div class="navbar-profile">
					<div class="navbar-notification">
						<div class="navbar-notification-count center txt-white">1</div>
					</div>
					<div class="navbar-notification navbar-avatar">
						<div class="navbar-picture"></div>
					</div>
				</div>
			</nav>
		</div>
		
		<div class="row">
			<section class="user-information blue-dark-2 fs-15">
				<div>
					<div class="navbar-notification navbar-avatar user-avatar">
						<div class="navbar-picture"></div>
					</div>
				</div>
				<div>
					<p class="txt-white"><strong>¡Bienvenido!</strong></p>
					<p class="txt-gray">{{request.user.get_full_name}}</p>
				</div>
				<div>
					<p class="txt-white"><strong>Correo</strong></p>
					<p class="txt-gray">{{request.user.email}}</p>
				</div>
				<div>
					<p class="txt-white"><strong>Promedio</strong></p>
					<p class="center-x txt-gray">0.0</p>
				</div>
			</section>
		</div>
		
		<div class="row">
			<div class="article-text txt-white">
				<h2 class="fs-30 font-bold">Progreso del alumno</h2>
				<p class="fs-18">Gráfica de estadísticas de cada unidad del alumno se muestran los aciertos por cada intento de los ejercicios de la unidad.</p>
			</div>
			<div class="article-information blue-dark-2">

			</div>
		</div>

		<div class="row">
			<section class="user-score">
				<div class="score blue-dark-2"></div>
				<div class="score blue-dark-2"></div>
				<div class="score blue-dark-2"></div>
				<div class="score blue-dark-2"></div>
			</section>
		</div>
	</div>

</body>
</html>