{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<title>Perfil</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/morris.css' %}">
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<div class="row">
	<section class="user-information blue-dark-2 fs-15">
		<div>
			<div class="navbar-notification navbar-avatar user-avatar">
				<div class="navbar-picture"></div>
			</div>
		</div>
		<div>
			<p class="txt-white"><strong>¡Bienvenido!</strong></p>
			<p class="txt-gray">{{request.user.get_full_name}}</p>
		</div>
		<div>
			<p class="txt-white"><strong>Correo</strong></p>
			<p class="txt-gray">
				{% if request.user.email %}
				{{request.user.email}}
				{% else %}
				Sin correo registrado
				{% endif %}
			</p>
		</div>
		<div>
			<p class="txt-white"><strong>Promedio</strong></p>
			<p class="center-x txt-gray" style="color: #FF5A09; font-weight: bold;">0.0</p>
		</div>
		<a href="{% url 'cambiarContraseña' %}">
			<button id="perfil-cambioContra">Cambiar contraseña</button>
		</a>
	</section>
</div>

<div class="row progresoClass">
	<div class="article-text txt-white">
		<h2 class="fs-30 font-bold">Progreso del alumno</h2>
		<p class="fs-16">Gráfica de estadísticas del progreso del alumno, se muestran las calificaciones por cada intento de los ejercicios en la unidad.</p>
	</div>
	<div class="article-information blue-dark-2" id="myfirstchart">
		
	</div>
</div>

{% if calificaciones %}
	{% regroup calificaciones by ejercicio.unidad as unidad_lista %}

	{% for unidad in unidad_lista %}
	<p>{{unidad.grouper}}</p>

	<div class="row">
		<section class="user-score">
		<div id="crecienteUnidad">
			{% for calificacion in unidad.list %}
				<div class="score blue-dark-2 alumno-calificacion">
					<p>Ejercicio #{{calificacion.ejercicio.id}}</p>
					<p>Calificacion: {{calificacion.calificacion}}</p>
				</div>
			{% endfor %}
		</div>
		</section>
	</div>

	{% endfor %}

	
		
{% else %}
	<div class="textPerfilInfo">
		Aqui se mostrarán tus calificaciones de los ejercicios que hayas realizado.
	</div>
{% endif %}

</div>



{% endblock %}