<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
        <title>Ejercicios</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap" rel="stylesheet"> 
        <script src="/static/js/funcionesUriel.js"></script>
        <script src="/static/js/jQuery.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style>
        #sortable1, #sortable2, #sortable3 { list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
        #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
    </head>
</head>
<body>
	<div id="principalEjercicios">
		<div id="menuEjercicios">
			<div id="encabezado-menuEjercicios">
				<img id="imagenback" src="/static/img/imagenback.png">
				<img id="imagenperfil" class="imgRedonda" src="/static/img/imagenperfil.png">
				<p id="tituloEjercicio" class="titulo-data">Data</p>
				<p id="tituloEjercicio" class="titulo-base">Bass</p>
			</div>
			<div id="unidadesEjercicios">
				<p>Temas</p>
				
				<div class="unidadesEjerciciosContenedor">
					
						
							<div class="u2" id="0">0</div>
						
					
						
							<div class="u2" id="1">1</div>
						
					
						
							<div class="u1" id="2">2</div>
						
					
						
							<div class="u3">3</div>
						
					
						
							<div class="u3">4</div>
						
					
						
							<div class="u3">5</div>
						
					
						
							<div class="u3">6</div>
						
					
						
							<div class="u3">7</div>
						
					
						
							<div class="u3">8</div>
						
					
						
							<div class="u3">9</div>
						
					
						
							<div class="u3">10</div>
						
					
				</div>
				
				
			</div>
			<div id="temasEjercicios">
				<p>Ejercicios</p>
				<div id="temasEjerciciosContenedor">
					
						
							
								<div class="t6" id="ejercicio-4" onclick="getEjercicio(this.id)">4</div>
							
						
					
				</div>
			</div>
		</div>

		<div id="contenidoEjercicios">
			<div id="encabezado-contenidoEjercicios">
				<div id="titulo-contenidoEjercicos">
					
						<p id="title">Unidad 2. Metodología de diseño de bases de datos</p>
					
					<div id="subtitulo-contenidoEjercicios">
						<p id="calificacion">Calificación:</p>
						<p>0/0 pts.</p>
					</div>
				</div>
				<div id="descripcion-contenidoEjercicios">
				
					
					<div id="titulo-descripcion-contenidoEjercicios">
						<p>Descripción de la unidad</p>
					</div>
						<p id="description">Conceptos: planeacion, diseño, modelos de negocio, identificacion de entidades, tipos de dato, validacion del modelo,</p>
					
				</div>
			</div>
			<div id="contenido-contenidoEjercicios">
<script>
    $( function() {
      $( "ul.droptrue" ).sortable({
        connectWith: "ul"
      });
   
      $( "ul.dropfalse" ).sortable({
        connectWith: "ul",
        dropOnEmpty: false
      });
   
      $( "#sortable1, #sortable2, #sortable3" ).disableSelection();
    } );
    </script>

<ul id="sortable1" class="droptrue">
  <li class="ui-state-default">Can be dropped..</li>
  <li class="ui-state-default">..on an empty list</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>
 
<ul id="sortable2" class="dropfalse">
  <li class="ui-state-highlight">Cannot be dropped..</li>
  <li class="ui-state-highlight">..on an empty list</li>
  <li class="ui-state-highlight">Item 3</li>
  <li class="ui-state-highlight">Item 4</li>
  <li class="ui-state-highlight">Item 5</li>
</ul>
 
<ul id="sortable3" class="droptrue">
</ul>
 
<br style="clear:both">
 </div>
		</div>
	</div>

</body>
</html>