<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Restablecer</title>
</head>
<body>
    <div class="PrincipalRestablecer">
        <div class="ContenidoRestablecer">
                <p class="TituloRestablecer">Restablecer contraseña</p>
                <input type="password" placeholder="Nueva contraseña" class="InputRestablecer">
                <input type="password" placeholder="Vuelva a escribir la contraseña" class="InputRestablecer">
                <br>
                <button type="submit" class="btnRestablecer">Aceptar</button>
        </div>
    </div>
</body>
</html>