{% extends 'respuestas31.html' %}
{% block content %}

<style>
    #table, th, td{ 
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

Alumno: {{alumno}}

<!-- {{respuesta}} -->

<ul>
    {% for key, value in respuesta.items %} 
        <li>{{key}}</li>
        {% for val in value %}
            <p>{{val}}</p>
        {% endfor %}
    {% endfor %}
</ul>

<table id="tabla">
    <tbody>
            <tr>
                {% for key, value in respuesta.items %}
                <th>{{key}}</th>
                {{value.0}}
                {% endfor %}
            </tr>

            {% for key, value in respuesta.items %}
            <tr>
                {% for val in value %}
                    <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

    </tbody>

</table>

<!-- <table id="tabla" contenteditable="true">
    <tbody>
        <tr>
        <th>Nombre SMBD 1</th>
        <th>Nombre SMBD 2</th>
        <th>Nombre SMBD 3</th>
        </tr>

    <tr>
        <td contenteditable="true">Caracteristica 11</td>
        <td contenteditable="true">Caracteristica 12</td>
        <td contenteditable="true">Caracteristica 13</td>
    </tr>

    <tr>
        <td contenteditable="true">Caracteristica 21</td>
        <td contenteditable="true">Caracteristica 22</td>
        <td contenteditable="true">Caracteristica 23</td>
    </tr>

    <tr>
        <td contenteditable="true">Caracteristica 31</td>
        <td contenteditable="true">Caracteristica 32</td>
        <td contenteditable="true">Caracteristica 33</td>
    </tr>

    <tr>
        <td contenteditable="true">Caracteristica 41</td>
        <td contenteditable="true">Caracteristica 42</td>
        <td contenteditable="true">Caracteristica 43</td>
    </tr>

    <tr>
        <td contenteditable="true">Caracteristica 51</td>
        <td contenteditable="true">Caracteristica 52</td>
        <td contenteditable="true">Caracteristica 53</td>
    </tr>
</tbody>
</table> -->

{% endblock %}